<div class="main-app">
    <div>
        <div class="app-description" style="width: 373px;height: 160px;">
            Ring A Bell is a platform Ring A Bell is a platform
            Ring A Bell is a platform
            Ring A Bell is a platform Ring A Bell is a platform
            Ring A Bell is a platform Ring A Bell is a platform
            Ring A Bell is a platform Ring A Bell is a platform
            Ring A Bell is a platform Ring A Bell is a platform
            Ring A Bell is a platform Ring A Bell is a platform
            Ring A Bell is a platform
        </div>
        <div class="app-description" style="padding-top: 40px;">What would you like to do?</div>
        <div class="button-bar">
            <p-button label="Search a name" (onClick)="searchReview()"></p-button>
            <div class="spacer"></div>
            <p-button label="Report a name" (onClick)="addReview()"></p-button>
        </div>        
        <!-- <a href="/search" class="selection-link">Search for a review</a>
        <a class="selection-link" (click)="addReview()">Add a review</a> -->
    </div>

</div>