<div class="main-app">
    <div>
        <div class="app-description" style="width: 415px;height: 160px;font-size: 18px;">
            Ring A Bell is an independent an non formal platform.
            <br />
            <br />
            This platform conatins names of men who had shown signs of abuse or violence towards their mates.
            <br />
            <br />
            This hoard of reviews was built by women for women.
        </div>
        <div class="app-description" style="padding-top: 40px;">What would you like to do?</div>
        <div class="button-bar">
            <p-button label="Search a name" (onClick)="searchReview()"></p-button>
            <div class="spacer"></div>
            <p-button label="Report a name" (onClick)="addReview()"></p-button>
        </div>
        <!-- <a href="/search" class="selection-link">Search for a review</a>
        <a class="selection-link" (click)="addReview()">Add a review</a> -->
    </div>

</div>