<div class="first-step">
    <div class="header">
        Personal information of the abuser
    </div>
    <div class="personal-info">
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="data.firstName" placeholder="First name">
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="data.lastName" placeholder="Last name">
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="data.nickName" placeholder="Nick name">
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="data.hebFirstName" placeholder="Hebrew first name">
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="data.hebLastName" placeholder="Hebrew last name">
        </div>
    </div>
    <div style="text-align: right;padding-top: 30px;">
        <p-button (onClick)="gotoNextStep()"><i class="pi pi-arrow-right" style="padding-top: 8px;"></i></p-button>
    </div>
</div>