@import "../../styles/vars.scss";

.first-step {
    display: grid;
    grid-template-rows: 20px 280px 40px auto;
    margin: 0 auto;
    width: 280px;

    .header {
        color: #fff;
        font-family: Merriweather;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
    }

    .personal-info {
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-rows: repeat(5);
        grid-row-gap: 15px;
    }
}

::ng-deep p-button {
    .ui-button {
        width: 32px;
        height: 32px;
        background: #58bbc1;
        border-radius: 4px;
    }
}