<div class="first-step">
    <div class="header">
        Personal information of the abuser
    </div>
    <div class="personal-info">
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="24" pInputText>
                <label for="float-input">First Name</label>
            </span>
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="24" pInputText>
                <label for="float-input">Last Name</label>
            </span>
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="24" pInputText>
                <label for="float-input">Nickname</label>
            </span>
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="24" pInputText>
                <label for="float-input">Hebrew first Name</label>
            </span>
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="24" pInputText>
                <label for="float-input">Hebrew last Name</label>
            </span>
        </div>
    </div>    
    <div style="text-align: right;padding-top: 30px;">
        <p-button (onClick)="gotoNextStep()"><i class="pi pi-arrow-right" style="padding-top: 8px;"></i></p-button>
    </div>
</div>