<div class="form-container">
       <div class="mat-app-background the-form">
        <div class="title-container">
            <p>Enter Login Details</p>
        </div>
        <form [formGroup]="formGroup" class="form">
            <!-- <mat-form-field class="form-element">
                <input matInput placeholder="Email Address" formControlName="email">
                <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                {{ getErrorEmail() }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
                <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                  {{ getErrorPassword() }}
                </mat-error>
              </mat-form-field>
              <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid" (click)="onSubmitForm()">Submit Form</button>
              </div> -->
        </form>
    </div>
</div>