<div>
  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Search for a name">
      <button type="submit" class="searchButton">
        <i class="pi pi-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="search-results" *ngIf="true">
    <div class="search-item">
      <div>Name</div>
      <div>Location</div>
      <div>Physicals</div>
      <div>#of reoprts</div>
    </div>
    <div class="search-item" *ngFor="let item of items; let i = index">
      <div><strong>{{item.name}}</strong></div>
      <div>{{item.location}}</div>
      <div>
        <div *ngIf="true"><strong>Eye color</strong></div>
        <div *ngIf="true"><strong>Eye color</strong></div>
        <div *ngIf="true"><strong>Eye color</strong></div>
        {{item.location}}</div>
      <div>{{item.location}}</div>      
    </div>
  </div>
</div>